<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bhome.demo.mapper.BoardMapper">

    <resultMap id="boardFilesResultMap" type="BoardFilesDto">
        <id property="boardFiles_pk" column="boardFiles_pk"/>
        <result property="boardFiles_oriName" column="boardFiles_oriName"/>
        <result property="boardFiles_reName" column="boardFiles_reName"/>
        <result property="boardFiles_size" column="boardFiles_size"/>
        <result property="board_pk" column="board_pk"/>
    </resultMap>



    <resultMap id="boardResultMap" type="BoardDto">
        <id property="board_pk" column="board_pk"/>
        <result property="board_title" column="board_title"/>
        <result property="board_content" column="board_content"/>
        <result property="board_categoryNum" column="board_categoryNum"/>
        <result property="board_subCategoryNum" column="board_subCategoryNum"/>
        <result property="user_pk" column="user_pk"/>

        <collection property="boardFileList" resultMap="boardFilesResultMap"/>
    </resultMap>


    <select id="boardSelectAll" resultMap="boardResultMap">
        SELECT b.board_pk, b.board_title, b.board_content, b.board_categoryNum, b.board_subCategoryNum, b.user_pk,
               bf.boardFiles_pk, bf.boardFiles_oriName, bf.boardFiles_reName, bf.boardFiles_size
        FROM board b
                 LEFT JOIN boardFiles bf ON b.board_pk = bf.board_pk
    </select>


    <select id="boardSelectAllByType" parameterType="int" resultMap="boardResultMap">
        SELECT b.board_pk, b.board_title, b.board_content, b.board_categoryNum, b.board_subCategoryNum, b.user_pk,
               bf.boardFiles_pk, bf.boardFiles_oriName, bf.boardFiles_reName, bf.boardFiles_size
        FROM board b
                 LEFT JOIN boardFiles bf ON b.board_pk = bf.board_pk
        WHERE b.board_categoryNum = #{board_categoryNum} AND b.board_subCategoryNum = #{board_subCategoryNum}
    </select>



    <select id="getFilesSelect" parameterType="int" resultType="BoardFilesDto">
        SELECT boardFiles_pk, boardFiles_oriName, boardFiles_reName, boardFiles_size, board_pk
        FROM boardFiles where board_pk=#{board_pk}
    </select>

        <resultMap id="boardNResultMap" type="BoardNDto">
            <id property="board_pk" column="board_pk"/>
            <result property="board_title" column="board_title"/>
            <result property="board_content" column="board_content"/>
            <result property="categoryName" column="categoryName"/>
            <result property="subCategoryName" column="subCategoryName"/>
            <result property="user_pk" column="user_pk"/>

            <collection property="boardFileList"
                        javaType="java.util.List"
                        ofType="BoardFilesDto"
                        select="getFilesSelect"
                        column="board_pk"/>
        </resultMap>



    <select id="boardDetail" parameterType="int" resultMap="boardNResultMap">

        SELECT b.board_pk, b.board_title, b.board_content,c.categoryName,s.subCategoryName,b.user_pk
        FROM board b
        INNER JOIN category c
        ON b.board_categoryNum = c.categoryNum
        INNER JOIN subCategory s
        ON b.board_subCategoryNum = s.subCategoryNum
        WHERE b.board_pk = #{board_pk}
        GROUP BY b.board_pk

    </select>


    <delete id="boardDelete" parameterType="int">
        DELETE FROM board
        WHERE board_pk=#{board_pk}
    </delete>


    <!--게시글 등록-->
    <insert id="boardRegist" parameterType="BoardDto" useGeneratedKeys="true" keyProperty="board_pk">
        INSERT INTO board(
        board_title,
        board_content,
        board_categoryNum,
        board_subCategoryNum,
        user_pk
        )
        VALUES(
               #{board_title},
               #{board_content},
               #{board_categoryNum},
               #{board_subCategoryNum},
               #{user_pk}
               )
    </insert>

    <insert id="boardRegistFiles" parameterType="java.util.List" >
        <selectKey keyProperty="board_pk" resultType="int" order="BEFORE">
            SELECT max(board_pk) from board
        </selectKey>
            INSERT INTO boardfiles(
                 boardFiles_oriName,
                 boardFiles_reName,
                 boardFiles_size,
                 board_pk
                 )
            VALUES
        <foreach collection="list" item="board" separator="," >
                (
                    #{board.boardFiles_oriName},
                    #{board.boardFiles_reName},
                    #{board.boardFiles_size},
                    #{board_pk}
                )
        </foreach>
    </insert>


    <update id="boardUpdate" parameterType="BoardDto">
        UPDATE board set
                board_title=#{board_title},
                board_content=#{board_content},
                board_categoryNum=#{board_categoryNum},
                board_subCategoryNum=#{board_subCategoryNum}
        WHERE board_pk=#{board_pk}
    </update>


    <select id="boardSelectAllByItem" parameterType="String" resultMap="boardResultMap">
        SELECT b.board_pk, b.board_title, b.board_content, b.board_categoryNum, b.board_subCategoryNum, b.user_pk,
               bf.boardFiles_pk, bf.boardFiles_oriName, bf.boardFiles_reName, bf.boardFiles_size
        FROM board b
                 LEFT JOIN boardFiles bf ON b.board_pk = bf.board_pk where b.board_content LIKE CONCAT('%', #{item}, '%')
    </select>
    
    
    
    
    
    
    
    
    
    
    
    
</mapper>