<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bhome.demo.mapper.PostMapper">
    <select id="getSubCategoryList" parameterType="String" resultType="PostCategoryDto">
        SELECT
            post_category_name,
            post_category_id,
            parent_category_id
        FROM post_category
        WHERE parent_category_id = (
            SELECT post_category_id
            FROM post_category
            WHERE post_category_name =#{post_category_name}
                  )
    </select>

    <insert id="registPost" parameterType="PostFormRegistDto" useGeneratedKeys="true" keyProperty="post_pk">
        INSERT INTO post(
            post_title,
            post_content,
            post_category_id,
            users_pk
        )
        VALUES(
                  #{post_title},
                  #{post_content},
                  #{post_category_id},
                  #{users_pk}
              )
    </insert>


</mapper>