<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bhome.demo.mapper.PostMapper">
    <select id="getSubCategoryList" parameterType="String" resultType="PostCategoryDto">
        SELECT
            post_category_name,
            post_category_id,
            parent_category_id
        FROM post_category
        WHERE parent_category_id = (
            SELECT post_category_id
            FROM post_category
            WHERE post_category_name =#{post_category_name}
                  )
    </select>
    <!--게시글등록-->
    <insert id="registPost" parameterType="PostFormRegistDto"  useGeneratedKeys="true" keyProperty="post_pk">
        INSERT INTO post(
            post_title,
            post_content,
            post_category_id,
            users_pk
        )
        VALUES(
                  #{post_title},
                  #{post_content},
                  #{post_category_id},
                  #{users_pk}
              )
    </insert>
    <!--게시글등록 사진-->
    <insert id="registPostFiles" parameterType="java.util.List">
        INSERT INTO post_files(
            post_files_oriName,
            post_files_reName,
            post_files_size,
            post_pk
        )
        VALUES
        <foreach collection="list" item="PostFiles" separator=",">
            (
            #{PostFiles.post_files_oriName},
            #{PostFiles.post_files_reName},
            #{PostFiles.post_files_size},
            #{PostFiles.post_pk}
            )
        </foreach>
    </insert>

    <!--게시글상세-->
<!--    <resultMap id="postDetailDto" type="PostDetailDto">-->
<!--        <id property="post_pk" column="post_pk"/>-->
<!--        <result property="post_title" column="post_title"/>-->
<!--        <result property="post_content" column="post_content"/>-->
<!--        <result property="users_pk" column="users_pk"/>-->
<!--        <result property="post_writer" column="user_name"/>-->
<!--        <result property="post_category_name" column="post_category_name"/>-->
<!--        <result property="post_subcategory_name" column="post_subcategory_name"/>-->
<!--        <result property="post_createdAt" column="post_createdAt"/>-->
<!--        <collection property="post_files" >-->
<!--            <result property="post_files_oriName" column="post_files_oriName" />-->
<!--            <result property="post_files_reName" column="post_files_reName" />-->
<!--            <result property="post_files_size" column="post_files_size" />-->
<!--            <result property="post_pk" column="post_pk" />-->
<!--        </collection>-->
<!--    </resultMap>-->

<!--    <select id="showDetailPost" parameterType="int" resultMap="postDetailDto">-->
<!--        SELECT-->
<!--            p.post_pk,-->
<!--            p.post_title,-->
<!--            p.post_content,-->
<!--            p.users_pk,-->
<!--            u.user_name,-->
<!--            p.post_createdAt,-->
<!--            c.post_category_name,-->
<!--            pc.post_category_name AS post_parentcategory_name-->
<!--        FROM post AS p-->
<!--                 JOIN users AS u ON p.users_pk = u.users_pk-->
<!--                 JOIN post_category AS c ON p.post_category_id = c.post_category_id-->
<!--                 LEFT JOIN post_category AS pc ON c.parent_category_id = pc.post_category_id-->
<!--        WHERE p.post_pk = #{post_pk}-->
<!--    </select>-->
    <resultMap id="postDetailResultMap" type="PostDetailDtoo">
        <id property="post_pk" column="post_pk"/>
        <result property="post_title" column="post_title"/>
        <result property="post_content" column="post_content"/>
        <result property="users_pk" column="users_pk"/>
        <result property="user_name" column="user_name"/>
        <result property="post_category_name" column="post_category_name"/>
        <result property="post_subcategory_name" column="post_subcategory_name"/>
        <result property="post_createdAt" column="post_createdAt"/>


        <collection property="post_files" ofType="PostFiles" javaType="java.util.List">
            <result property="post_files_oriName" column="post_files_oriName" />
            <result property="post_files_reName" column="post_files_reName" />
            <result property="post_files_size" column="post_files_size" />
            <result property="post_pk" column="post_pk" />
        </collection>
    </resultMap>




    <select id="showDetailPost" parameterType="int" resultMap="postDetailResultMap">
        SELECT
            p.post_pk,
            p.post_title,
            p.post_content,
            p.users_pk,
            u.user_name,
            p.post_createdAt,
            c.post_category_name AS post_subcategory_name,
            pc.post_category_name AS post_category_name
        FROM post AS p
                 JOIN users AS u ON p.users_pk = u.users_pk
                 JOIN post_category AS c ON p.post_category_id = c.post_category_id
                 LEFT JOIN post_category AS pc ON c.parent_category_id = pc.post_category_id
        WHERE p.post_pk = #{post_pk}
    </select>




</mapper>