<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<section class="banner-sec" th:fragment="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card"> <img class="img-fluid" th:src="@{/templates/img/media-1.jpg}" alt="">
                    <div class="card-img-overlay"> <span class="tag tag-pill tag-danger">News</span> </div>
                    <div class="card-block">
                        <div class="news-title">
                            <h2 class=" title-small"><a href="#">Syria war: Why the battle for Aleppo matters</a></h2>
                        </div>
                        <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
                    </div>
                </div>
                <div class="card"> <img class="img-fluid" th:src="@{/templates/img/media-3.jpg}" alt="">
                    <div class="card-img-overlay"> <span class="tag tag-pill tag-info">Politics</span> </div>
                    <div class="card-block">
                        <div class="news-title">
                            <h2 class=" title-small"><a href="#">Key Republicans sign letter warning against candidate</a></h2>
                        </div>
                        <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card"> <img class="img-fluid" th:src="@{/templates/img/media-2.jpg}" alt="">
                    <div class="card-img-overlay"> <span class="tag tag-pill tag-success">Travel</span> </div>
                    <div class="card-block">
                        <div class="news-title">
                            <h2 class=" title-small"><a href="#">Obamacare Appears to Be Making People Healthier</a></h2>
                        </div>
                        <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
                    </div>
                </div>
                <div class="card"> <img class="img-fluid" th:src="@{/templates/img/media-4.jpg}" alt="">
                    <div class="card-img-overlay"> <span class="tag tag-pill tag-danger">News</span> </div>
                    <div class="card-block">
                        <div class="news-title">
                            <h2 class=" title-small"><a href="#">‘S.N.L.’ to Lose Two Longtime Cast Members</a></h2>
                        </div>
                        <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 top-slider">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="news-block">
                                <div class="news-media"><img class="img-fluid" th:src="@{/templates/img/media-5.jpg}" alt=""></div>
                                <div class="news-title">
                                    <h2 class=" title-large"><a href="#">Ray 11</a></h2>
                                </div>
                                <div class="news-des">Condimentum ultrices mi est a arcu at cum a elementum per cum turpis dui vulputate vestibulum in vehicula montes vel. Mauris nam suspendisse consectetur mus...</div>
                                <div class="time-text"><strong>2h ago</strong></div>
                                <div></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="news-block">
                                <div class="news-media"><img class="img-fluid" th:src="@{/templates/img/media-6.jpg}" alt=""></div>
                                <div class="news-title">
                                    <h2 class=" title-large"><a href="#">An Alternative Form of Mental Health Care Gains a Foothold</a></h2>
                                </div>
                                <div class="news-des">Condimentum ultrices mi est a arcu at cum a elementum per cum turpis dui vulputate vestibulum in vehicula montes vel. Mauris nam suspendisse consectetur mus...</div>
                                <div class="time-text"><strong>2h ago</strong></div>
                                <div></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="news-block">
                                <div class="news-media"><img class="img-fluid" th:src="@{/templates/img/media-7.jpg}" alt=""></div>
                                <div class="news-title">
                                    <h2 class=" title-large"><a href="#">Key33</a></h2>
                                </div>
                                <div class="news-des">Condimentum ultrices mi est a arcu at cum a elementum per cum turpis dui vulputate vestibulum in vehicula montes vel. Mauris nam suspendisse consectetur mus...</div>
                                <div class="time-text"><strong>2h ago</strong></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>