<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<section class="section-02" th:fragment="banner_top3">
    <div class="container">
        <h3>
            <div class="heading-large">International News Section</div>
        </h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card"> <img class="img-fluid" src="temp/img/media-1.jpg" alt="">
                    <div class="card-block">
                        <div class="news-title"><a href="#">
                            <h2 class=" title-small">An Alternative Form of Mental Health Care Gains a Foothold</h2>
                        </a></div>
                        <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
                    </div>
                </div>
                <ul class="news-listing">
                    <li><a href="#">Key Republicans sign letter warning against candidate</a></li>
                    <li><a href="#">Obamacare Appears to Be Making People Healthier</a></li>
                    <li><a href="#">Syria war: Why the battle for Aleppo matters</a></li>
                    <li><a href="#">‘S.N.L.’ to Lose Two Longtime Cast Members</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="card"> <img class="img-fluid" src="temp/img/media-2.jpg" alt="">
                    <div class="card-block">
                        <div class="news-title"><a href="#">
                            <h2 class=" title-small">Delta22</h2>
                        </a></div>
                        <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
                    </div>
                </div>
                <ul class="news-listing">
                    <li><a href="#">Syria war: Why the battle for Aleppo matters</a></li>
                    <li><a href="#">Key Republicans sign letter warning against candidate</a></li>
                    <li><a href="#">Obamacare Appears to Be Making People Healthier</a></li>
                    <li><a href="#">‘S.N.L.’ to Lose Two Longtime Cast Members</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="card"> <img class="img-fluid" src="temp/img/media-3.jpg" alt="">
                    <div class="card-block">
                        <div class="news-title"><a href="#">
                            <h2 class=" title-small">Minorities Suffer From Unequal Pain Treatment</h2>
                        </a></div>
                        <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
                    </div>
                </div>
                <ul class="news-listing">
                    <li><a href="#">‘S.N.L.’ to Lose Two Longtime Cast Members</a></li>
                    <li><a href="#">Key Republicans sign letter warning against candidate</a></li>
                    <li><a href="#">Obamacare Appears to Be Making People Healthier</a></li>
                    <li><a href="#">Syria war: Why the battle for Aleppo matters</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>