<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<section class="video-gallery-sec" th:fragment="banner_small8">
  <div class="container">
    <h3>
      <div class="heading-large">Today's Image Gallery</div>
    </h3>
    <div class="row">
      <div class="col-md-3">
        <div class="news-block">
          <div class="news-media"><a class="example-image-link" href="img/media-2.jpg" data-lightbox="media-2" data-title="An Alternative Form of Mental Health Care Gains a Foothold"><img class="img-fluid example-image" src="temp/img
/media-2.jpg" alt=""></a><span class="gallery-counter"><i class="fa fa-image"></i>12</span></div>
          <h2 class=" title-small">An Alternative Form of Mental Health Care Gains a Foothold</h2>
          <div> </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="news-block">
          <div class="news-media"><a class="example-image-link" href="img/media-3.jpg" data-lightbox="media-3" data-title="Delta passengers got pizza delivered to the plane"><img class="img-fluid" src="temp/img
/media-3.jpg" alt=""></a><span class="gallery-counter"><i class="fa fa-image"></i>17</span></div>
          <h2 class=" title-small">Delta passengers got pizza delivered to the plane</h2>
          <div> </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="news-block">
          <div class="news-media"><a class="example-image-link" href="img/media-4.jpg" data-lightbox="media-4" data-title="He took Bolt's record - can he?"><img class="img-fluid" src="temp/img
/media-4.jpg" alt=""></a><span class="gallery-counter"><i class="fa fa-image"></i>06</span></div>
          <h2 class=" title-small">He took Bolt's record - can he?</h2>
          <div> </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="news-block">
          <div class="news-media"><a class="example-image-link" href="img/media-5.jpg" data-lightbox="media-5" data-title="Minorities Suffer From Unequal Pain Treatment"><img class="img-fluid" src="temp/img
/media-5.jpg" alt=""></a><span class="gallery-counter"><i class="fa fa-image"></i>09</span></div>
          <h2 class=" title-small">Minorities Suffer From Unequal Pain Treatment</h2>
          <div> </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="news-block">
          <div class="news-media"><a class="example-image-link" href="img/media-6.jpg" data-lightbox="media-6" data-title="Minorities Suffer From Unequal Pain Treatment"><img class="img-fluid" src="temp/img
/media-6.jpg" alt=""></a><span class="gallery-counter"><i class="fa fa-image"></i>10</span></div>
          <h2 class=" title-small">Minorities Suffer From Unequal Pain Treatment</h2>
          <div> </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="news-block">
          <div class="news-media"><a class="example-image-link" href="img/media-7.jpg" data-lightbox="media-7" data-title="Delta passengers got pizza delivered to the plane"><img class="img-fluid" src="temp/img
/media-7.jpg" alt=""></a><span class="gallery-counter"><i class="fa fa-image"></i>11</span></div>
          <h2 class=" title-small">Delta passengers got pizza delivered to the plane</h2>
          <div> </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="news-block">
          <div class="news-media"><a class="example-image-link" href="img/media-8.jpg" data-lightbox="media-8" data-title="He took Bolt's record - can he?"><img class="img-fluid" src="temp/img
/media-8.jpg" alt=""></a><span class="gallery-counter"><i class="fa fa-image"></i>05</span></div>
          <h2 class=" title-small">He took Bolt's record - can he?</h2>
          <div> </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="news-block">
          <div class="news-media"><a class="example-image-link" href="img/media-9.jpg" data-lightbox="media-9" data-title="Best moments in travel"><img class="img-fluid" src="temp/img
/media-9.jpg" alt=""></a><span class="gallery-counter"><i class="fa fa-image"></i>15</span></div>
          <h2 class=" title-small">Best moments in travel</h2>
          <div> </div>
        </div>
      </div>
    </div>
  </div>
</section>