<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="sub-footer" th:fragment="banner_bottom_top5">
    <div class="container">
        <h3>
            <div class="heading-large">Top Five Stories</div>
        </h3>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="carousel-item active"> <img class="img-fluid" th:src="@{/templates/img/footer-col-1.jpg}">
                    <div class="carousel-caption">
                        <div class="news-title">
                            <h2 class=" title-large"><a href="#">Ray 11</a></h2>
                        </div>
                    </div>
                </div>
                <!-- End Item -->

                <div class="carousel-item"> <img class="img-fluid" th:src="@{/templates/img/footer-col-2.jpg}">
                    <div class="carousel-caption">
                        <div class="news-title">
                            <h2 class=" title-large"><a href="#">Delta22</a></h2>
                        </div>
                    </div>
                </div>
                <!-- End Item -->

                <div class="carousel-item"> <img class="img-fluid" th:src="@{/templates/img/footer-col-3.jpg}">
                    <div class="carousel-caption">
                        <div class="news-title">
                            <h2 class=" title-large"><a href="#">Key 33</a></h2>
                        </div>
                    </div>
                </div>
                <!-- End Item -->

                <div class="carousel-item"> <img class="img-fluid" th:src="@{/templates/img/footer-col-4.jpg}">
                    <div class="carousel-caption">
                        <div class="news-title">
                            <h2 class=" title-large"><a href="#">An Alternative 44</a></h2>
                        </div>
                    </div>
                </div>
                <!-- End Item -->

                <div class="carousel-item"> <img class="img-fluid" th:src="@{/templates/img/footer-col-5.jpg}">
                    <div class="carousel-caption">
                        <div class="news-title">
                            <h2 class=" title-large"><a href="#">Woman 55 </a></h2>
                        </div>
                    </div>
                </div>
                <!-- End Item -->

            </div>
            <!-- End Carousel Inner -->
            <ul class="list-group col-sm-4">
                <li data-target="#myCarousel" data-slide-to="0" class="list-group-item active">
                    <h4>Ray 11</h4>
                </li>
                <li data-target="#myCarousel" data-slide-to="1" class="list-group-item">
                    <h4>Delta 22</h4>
                </li>
                <li data-target="#myCarousel" data-slide-to="2" class="list-group-item">
                    <h4>Key 33</h4>
                </li>
                <li data-target="#myCarousel" data-slide-to="3" class="list-group-item">
                    <h4>An 44</h4>
                </li>
                <li data-target="#myCarousel" data-slide-to="4" class="list-group-item">
                    <h4>Woman 55 </h4>
                </li>
            </ul>

            <!-- Controls -->
            <div class="carousel-controls"> <a class="left carousel-control" href="#myCarousel" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a> <a class="right carousel-control" href="#myCarousel" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a> </div>
        </div>
        <!-- End Carousel -->
    </div>
</div>