<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="application.properties"/>
    <typeAliases>
<!--    Dto    -->
        <typeAlias type="com.bhome.demo.dto.AppleMapperDTO" alias="AppleMapperDTO"/>
        <typeAlias type="com.bhome.demo.dto.UserDto" alias="UserDto"/>
        <typeAlias type="com.bhome.demo.dto.BoardDto" alias="BoardDto"/>
        <typeAlias type="com.bhome.demo.dto.BoardNDto" alias="BoardNDto"/>
        <typeAlias type="com.bhome.demo.dto.BoardFilesDto" alias="BoardFilesDto"/>
        <typeAlias type="com.bhome.demo.dto.CategoryDto" alias="CategoryDto"/>
        <typeAlias type="com.bhome.demo.dto.SubCategroyDto" alias="SubCategroyDto"/>
        <typeAlias type="com.bhome.demo.dto.UserRegistDto" alias="UserRegistDto"/>
        <typeAlias type="com.bhome.demo.dto.UserFileDto" alias="UserFileDto"/>
        <typeAlias type="com.bhome.demo.dto.UserLoginDto" alias="UserLoginDto"/>
        <typeAlias type="com.bhome.demo.dto.PostRegistDto" alias="PostRegistDto"/>
        <typeAlias type="com.bhome.demo.dto.PostFormRegistDto" alias="PostFormRegistDto"/>
        <typeAlias type="com.bhome.demo.dto.PostCategoryDto" alias="PostCategoryDto"/>
<!--    Vo    -->
        <typeAlias type="com.bhome.demo.vo.UserVo" alias="UserVo"/>
    </typeAliases>


</configuration>
