<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<section>
    <div class="user-regist">

        <div class="user-regist__container">
            <form th:action="@{/user/regist}" th:object="${userRegistDto}" method="post" enctype="multipart/form-data">
                <div class="user_regist__wrapper">
                    <h1>회원가입</h1>
                    <hr>
                    <input type="hidden" th:field="*{user_pk}">
                    <div class="user-regist__input-wrapper">
                        <label for="user_id"><b>Id</b></label>
                        <input type="text" placeholder="Your Id..." th:field="*{user_id}" required>
                    </div>
                    <div class="user-regist__input-wrapper">
                        <label for="user_pass"><b>Password</b></label>
                        <input type="password" placeholder="Your Id..." th:field="*{user_pass}" required>
                    </div>
                    <div class="user-regist__input-wrapper">
                        <label for="user_name"><b>Name</b></label>
                        <input type="text" placeholder="Your Id..." th:field="*{user_name}" required>
                    </div>


                    <div class="user-regist__photo">
                        <h3>Photo</h3>
                        <input  name="file" type="file" th:field="*{photo}">
                        <label for="photo">사진 첨부</label>
                        <div class="preview"></div>
                    </div>
                    <hr>
                    <button type="submit" class="registerbtn" >회원 등록</button>
                </div>
            </form>
        </div>

        <div class="signin">
            <p>
                이미 회원이신가요? <a href="javascript:window.close();">로그인 페이지</a>
            </p>
        </div>
    </div>


</section>
</body>
</html>